@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d2d2d2;
  background-image: repeating-linear-gradient(to right, transparent 0 100px, rgba(37, 40, 59, 0.1333333333) 100px 101px), repeating-linear-gradient(to bottom, transparent 0 100px, rgba(37, 40, 59, 0.1333333333) 100px 101px);
}
body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 90%;
  transform: translateX(-50%);
  content: "";
  background-image: url(/images/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
section .itemContainer {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  --quantity: 10;
  animation: spin 20s linear infinite;
  z-index: 2;
}
section .itemContainer .item {
  position: absolute;
  inset: 0 0 0 0;
}
section .itemContainer .item:nth-child(1) {
  --position: 1;
  transform: rotateY(calc((1 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(2) {
  --position: 2;
  transform: rotateY(calc((2 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(3) {
  --position: 3;
  transform: rotateY(calc((3 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(4) {
  --position: 4;
  transform: rotateY(calc((4 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(5) {
  --position: 5;
  transform: rotateY(calc((5 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(6) {
  --position: 6;
  transform: rotateY(calc((6 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(7) {
  --position: 7;
  transform: rotateY(calc((7 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(8) {
  --position: 8;
  transform: rotateY(calc((8 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(9) {
  --position: 9;
  transform: rotateY(calc((9 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item:nth-child(10) {
  --position: 10;
  transform: rotateY(calc((10 - 1) * 360deg / 10)) translateZ(550px);
}
section .itemContainer .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .textGroup {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
section .textGroup h1 {
  font-family: "ICA Rubrik";
  font-size: 15em;
  line-height: 1em;
  color: #25283b;
  position: relative;
}
section .textGroup h1 .splitHeader {
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}
section .textGroup .subText h2 {
  font-size: 3em;
}
section .textGroup .subText p {
  font-family: "Poppins";
  text-align: right;
}
section .model {
  background-image: url(/images/model.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-16deg) rotateY(360deg);
  }
}
@media screen and (max-width: 1279px) {
  section .textGroup {
    padding: 30px 30px;
  }
  section .textGroup .subText {
    margin-right: 15px;
  }
  section .textGroup h1 {
    margin-left: 15px;
    font-size: 12em;
  }
  section .textGroup .subText h2 {
    font-size: 2em;
  }
  section .textGroup {
    bottom: -15%;
  }
}
@media screen and (max-width: 1147px) {
  section .textGroup h1 {
    font-size: 10em;
  }
}
@media screen and (max-width: 1023px) {
  section .itemContainer {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  section .itemContainer .item:nth-child(1) {
    --position: 1;
    transform: rotateY(calc((1 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(2) {
    --position: 2;
    transform: rotateY(calc((2 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(3) {
    --position: 3;
    transform: rotateY(calc((3 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(4) {
    --position: 4;
    transform: rotateY(calc((4 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(5) {
    --position: 5;
    transform: rotateY(calc((5 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(6) {
    --position: 6;
    transform: rotateY(calc((6 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(7) {
    --position: 7;
    transform: rotateY(calc((7 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(8) {
    --position: 8;
    transform: rotateY(calc((8 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(9) {
    --position: 9;
    transform: rotateY(calc((9 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .itemContainer .item:nth-child(10) {
    --position: 10;
    transform: rotateY(calc((10 - 1) * 360deg / 10)) translateZ(300px);
  }
  section .textGroup {
    bottom: 0%;
  }
  section .textGroup h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
    font-size: 7em;
    margin: 0;
  }
  section .textGroup .subText {
    max-width: unset;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  section .textGroup .subText p {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  section .itemContainer {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  section .itemContainer .item {
    transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translateZ(180px);
  }
  section .textGroup h1 {
    font-size: 5em;
  }
}/*# sourceMappingURL=style.css.map */